@model WorkCreateDTO
@{
    ViewData["Title"] = "Create";
}
<div class="container my-2">
    <form asp-action="Create" asp-controller="Home" method="post">
        <div class="mb-3">
            <label>İşin Tanımı: </label>
            <input asp-for="Definition" class="form-control" />
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="IsCompleted" id="deneme"/>
            <label class="form-check-label" for="deneme"> Tamamlandı mı? </label>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>

    </form>
</div>


