@model List<WorkListDTOs>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-2">
   <div class="text-end">
        <a asp-action="Create" asp-controller="Home" class="btn btn-primary">Yeni Bir İş Ekle</a>
   </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>İş</th>
                <th>Durumu</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
           {
                <tr>
                    <td>@item.Definition</td>
                    <td>@(item.IsCompleted?"Tamamlandı":"Tamamlanmadı")</td>
                    <td>
                        <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-warning"> Güncelle </a> 
                        <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
           }
        </tbody>
    </table>
</div>


